[package]
name = "stomata-web3"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
hex = "0.4.3"
sha3 = "0.10.8"
