name: Build Project

on:
  push:
    branches-ignore:
      - master
  pull_request:
    branches-ignore:
      - master

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Check formatting
        run: cargo fmt --all --check

      - name: Run tests
        run: cargo test

      - name: Build project
        run: cargo build --release